img {
    max-width: 100%;
}

.inbox_people {
    background: #ac70e7 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #0000;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #ebebeb;
    font-size: 21px;
    margin: auto;
    padding: 20px 80px 30px 0px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #5c0079;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat::-webkit-scrollbar {
    width: 13px;
}

.inbox_chat::-webkit-scrollbar {
    background: rgb(207, 136, 255);
}

.inbox_chat::-webkit-scrollbar-thumb {
    background-color: rgba(183, 0, 255, 0.349);
    border-radius: 20px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: rgb(207, 136, 255);
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    background-image: linear-gradient(to top, rgb(201, 130, 230), rgb(174, 0, 255));
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    height: 100%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    /* width: 100%; */
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: white none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    /* overflow: hidden; */
    height: 60px;
    /* min-height: 48px; */
}

.write_msg:focus input {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.write_msg {
    border-radius: 20px 0px 0 20px;
    font-size: 20px;
    height: 30px;
    padding: 10px;
    flex: 8;
}

.type_msg {
    padding-top: 50px;
    border-top: 1px solid #c4c4c4;
}

.buttonBox {
    display: flex;
}

.backgroundButton {
    background-color: white;
    border-radius: 0 20px 20px 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg_send_btn {
    background: #c300ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    align-items: center;
    font-size: 17px;
    height: 33px;
    width: 33px;
}

.buttonMsg {
    background-color: white;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 516px;
    /* padding-bottom: 100px; */
    overflow-y: auto;
}